body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #F4F6F9;
}

.parent-container-horizontal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
}

.parent-container-vertical{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.item-container {
  flex-grow: 1;
  border-color: #79808E;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
  color: #2F333D;
}

.mycard {
  flex-grow: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(222,226,230,1);
 -moz-box-shadow: 1px 1px 1px 0px rgba(222,226,230,1);
 box-shadow: 1px 1px 1px 0px rgba(222,226,230,1);
 background-color: #FFFFFF;
}

.mycard-flat {
  flex-grow: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #DEE2E6;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
 background-color: #FFFFFF;
}


.toast {
  flex-grow: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(222,226,230,1);
  -moz-box-shadow: 1px 1px 2px 0px rgba(222,226,230,1);
  box-shadow: 1px 1px 2px 0px rgba(222,226,230,1);
 padding: 10px;
 margin: 20px;
 background-color: #FFFFFF;
 position: absolute;
 z-index: 999;
 float: right;
}


    #title{
        -webkit-box-shadow: 0px 3px 5px 0px rgba(115,113,111,1);
-moz-box-shadow: 0px 3px 5px 0px rgba(115,113,111,1);
box-shadow: 0px 3px 5px 0px rgba(115,113,111,1);
      background-color: #354664;
      color: white;
    }

    #navtop{
      -webkit-box-shadow: 0px 3px 5px 0px rgba(115,113,111,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(115,113,111,1);
  box-shadow: 0px 3px 5px 0px rgba(115,113,111,1);
      color: white;
    }


        html {
            -webkit-text-size-adjust: 100%;
        }
        
        .logo-image {
            width: 42px;
            height: 42px;
            margin-top: -6px;
        }
        .dataTables_filter {
            display: none;
        }
        
        #overviewTable{
            border-radius: 5px;
        }
        #overviewTable th{
            border-radius: 5px;
            text-align: center;
            
        }
        #overviewTable td{
            text-align: center;
        }
        
        tr :first-child{
            text-align: left !important; 
        }
        #footer{
            font-weight: bold;
            color: green;
        }
        
        
 